{{define "title"}}mycolog intro{{end}}
{{define "content"}}
<div class="pure-g">
<div class="pure-u-1 pure-u-md-1-8 pure-u-lg-1-5 pure-u-xl-7-24"></div>
<div class="pure-u-1 pure-u-md-3-4 pure-u-lg-3-5 pure-u-xl-10-24">

<h1>Introduction to mycolog</h1>
<p>
mycolog helps you keep track of your inventory and notes in mushroom
cultivation projects and enables you to easily trace genetics.
</p>

<h2>Components</h2>
<p>
This section will explain the components of a mushroom cultivation project,
that can be tracked with mycolog and explains some basic processes of
mushroom cultivation along the way. To learn more about each of the
mentioned methods, I encourage you to consult further resources.
</p>

<h3>Spores</h3>
<p>
Spores are the starting point of every mushroom cultivation project
and can be taken from fruit bodies of wild or bought specimen or
matured grows. Spores typically come either as spore prints or as spore
syringes, where the spores are dissolved in water.
</p>

<p>
Spores can be stored for multiple years for later projects or traded
with other cultivators. It is a good idea to frequently take spore
prints from your grows.
</p>

<h3>Mycelium</h3>
<p>
Mycelium is developed on agar agar dishes or, less commonly, in a
nutritious fluid, called a "liquid culture". It is used to create a
clean starting point, with which you can proceed to inoculate spawn or,
less commonly, grows.
</p>

<p>
It can be created from different sources: most commonly it is inoculated
with spores or with a small cutout of an existing agar agar dish, but it
is also possible to use a grain from a spawn or to clone a fruit body
onto agar agar.
</p>

<p>
Mycelium can also be used to store especially interesting genetics long
term, in the form of an agar agar slant.
</p>

<h3>Spawn</h3>
<p>
Spawn is a sterile, nutritious substrate, into which mycelium, or spores
(not recommended) are placed, so that mycelium can colonize it with a
minimal chance of contamination. A healthy spawn is the ideal basis for
a successful grow. In order to rapidly multiply spawn, it is also common
to inoculate new spawn with existing spawn.
</p>

<p>
Spawn is most commonly some kind of prepared grain, like rye, oats or
wheat.
</p>

<h3>Grows</h3>
<p>
A grow is the last step of a cultivation project; fruit bodies are
developed here. It is most commonly created by mixing fully colonized
spawn with some kind of bulk substrate; this process is also called
"spawning". Other techniques require you to place spores from a syringe
or mycelium directly onto the substrate that will be used for the grow.
</p>

<p>
Tip: If you decide to store harvested fruit bodies for a while, you can
use the token of the grow to label their container. This way you can
always check the origin of your yield.
</p>

<h2>Tokens</h2>
<p>
Every component is assigned an alphanumeric token. This token is
randomly generated and can be used to label your spore prints, agar agar
dishes, spawn bags, etc.
</p>

<h2>Graphs</h2>
<p>
If <a href="https://graphviz.org/">Graphviz</a> is installed, you will
be able to see graphs at the details pages of all components. These
graphs contain all components, that share genetics with the currently
selected component. Note that <strong>all components in a graph are
clickable</strong>.
</p>

</div>
<div class="pure-u-1 pure-u-md-1-8 pure-u-lg-1-5 pure-u-xl-7-24"></div>
</div>
{{end}}
